.img{
    width: 20rem;
}

.card{
    border: 1px solid palevioletred;
    margin: 1rem;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.title{
    font-weight: 600;
}

.artist{
    font-style: italic;
}